<h1>/!\ Beware: stupid coach in action!</h1>
<div class="container">

  <div class="question">
    <p><%= @question %></p>
    <p><em>-You</em></p>
  </div>

  <br>

  <div class="answer">
  <p><%= @answer %></p>
  <p><em>-Your coach</em></p>
  </div>

  <br>

  <%= link_to 'Ask a new question', ask_path %>

</div>
